.container{
  margin: auto; 
  width: 80%; 
  padding: 20px;
  background-color: #f0ffff;
}

.cont{
  margin-bottom: 5%;
}

.hd{
  font-family: 'Luxurious Roman', cursive; 
  font-size: 30px; 
  display: flex; 
  justify-content: center;
  font-weight: bolder;
}

.hd1{
  font-size: 70px; 
  font-family: 'Dancing Script', cursive;  display: flex; 
  padding: 15px;
  justify-content: center;
  font-weight: bolder;
}

.bd{
  font-size: 20px; 
  display: flex; 
  margin-top: 5px; 
  text-align: center; 
  font-family: 'Barlow Condensed', sans-serif;
  display: flex;
  justify-content: center;
}

.Introbd{
  font-size: 20px;  
  font-family: 'Barlow Condensed', sans-serif;
  text-align: center;
}
