body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    font-size: 50px; 
    font-family: 'Dancing Script', cursive;  display: flex; 
    padding: 15px;
    font-weight: bolder;
    height: 50px;
    margin-bottom: 30px;
}

.home-icon{
  border-radius: 50%;
  border: 2px solid black;
  height: 35px;
  width: 35px;
  padding: 10px;
  margin-bottom: 12px;
}

img{
  height: 35px;
  width: 35px;
}

.message-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: center;
  height: 450px;
  width: 800px;
  padding: 25px;
  font-size: 20px; 
  font-family: 'Barlow Condensed', sans-serif;
  background-color: rgb(247, 255, 255, 0.6);
  border-radius: 8px;
}

.input-wrapper{
  position: relative;
  margin-bottom: 15px;
}

.textarea-wrapper {
  position: relative;
}

input{
  box-sizing: border-box;
  outline: none;
  width: 520px;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 8px;
  font-family: 'Kalam', cursive;
  border-bottom: 2px solid gray;
}

label {
  position: absolute;
  top: -26px;
  left: 10px;
  height: 100%;
  line-height: 50px;
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
  transition: all 0.3s ease;
}

textarea{
  width: 520px;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 8px;
  font-family: 'Kalam', cursive;
  border-bottom: 2px solid gray;
  box-sizing: border-box;
  resize: none;
  outline: none;
}

button{
  border: none;
  background-color: #fd6585; /* Pink */
  box-shadow: 0 4px #fd6585;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 30px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  width: 520px;
  font-size: 20px;
  font-family: 'Barlow Condensed', sans-serif;
}

button:hover{
  
  transform: scale(1.030);
}


#input-msg{
  height: 250px;
}

