.container{
  margin: auto; 
  width: 80%; 
  padding: 20px;
  background-color: azure;
}

.cont{
  margin-bottom: 5%;
}

.hd{
  font-family: 'Courier New', Courier, monospace; 
  font-size: 30px; 
  display: flex; 
  justify-content: center;
  font-weight: bolder;
}

.bd{
  font-size: 20px; 
  display: flex; 
  justify-content: center;
  margin-top: 5px; 
  text-align: center; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  display: flex;
  justify-content: center;
}
